@import url("../fonts.css");

* {
	font-family: lucida;
	font-size: 100%;
}

.main-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 5%;
}

.main-background .main-body {
	float: left;
	width: 50%;
	/*border: 3px solid black;*/
	margin-left: 10%;
	padding: 10px;
}

.main-background .sidebar {
	float: left;
	width: 26%;
	/*border: 3px solid black;*/
	margin-left: 4%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-background *::selection {
	background-color: blue;
	color: black;
}